doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul
      li My Text
      li.
        dsgdlshpkfaph hsfahlpfh akp hkfashkpfahkaf
        skfhpfskh h hfsaohkfo khfso hfsa hfshs as
    input(type='text').class-name#anyid
    - var condition = true
    if condition
      p It's true!

    - var array = [1, 2, 3]
      each value in array
        p= value